:root {
	--dc-default-border-radius: 1rem;
	--dc-default-padding: 1rem;
	--dc-default-boxshadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	--dc-default-container-bg: rgba(255, 255, 255, 0.3);

	--dc-accent-color: rgb(58, 159, 199);
	--dc-toolbar-height: 3rem;
	--dc-header-block-margin: 0.25rem;

	--dc-dice-roller-bg: #cccfd1;
	--dc-card-border: 1px solid #000000;
	--dc-card-border-radius: 1rem;
	--dc-card-back-bg: #1387b9;
	--dc-card-front-bg: rgb(235, 235, 235);

	--dc-status-display-padding: var(--dc-default-padding);
}
h4 {
	margin: 0;
}

.dc-table-bg {
	border-radius: var(--dc-default-border-radius);
	background: var(--dc-dice-roller-bg);

	/* background: rgb(19,135,185);
background: radial-gradient(circle, rgba(19,135,185,1) 0%, rgba(29,63,78,1) 71%, rgba(136,136,136,1) 100%); */
}
.dc-health-meter-stroke {
	stroke: rgba(0, 0, 0, 0.801);
}

/*utils*/
.dc-header {
	position: absolute;
	display: grid;
	justify-self: center;
	width: calc(100% - var(--dc-default-padding));
	border-radius: var(--dc-default-border-radius);
	box-shadow: var(--dc-default-box-shadow);
	background-color: var(--dc-default-container-bg);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.dc-fade-in {
	animation: fadeIn 1s ease-in;
}
