:root {
	--dc-accent-color: rgb(58, 159, 199);
	--dc-toolbar-height: 3rem;
	--dc-header-block-margin: 0.25rem;

    --dc-card-border: 1px solid #000000;
    --dc-card-border-radius: 3svw;
	--dc-card-back-bg:  #1387b9;
	--dc-card-front-bg: rgb(235, 235, 235);
}
h4 {
	margin: 0;
}
